// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'header';

// Home
@import 'home';

// ShowOmino
@import 'showOmino';

// Create
@import 'create';

// Footer
@import 'footer';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    min-height: 90vh;
    width: 100%;
    .succesfull{
        font-weight: bolder;
        color: red;
        text-align: center;
        padding: 20px;
    }
}
